<a href="https://colab.research.google.com/github/Zjmgpk/CS5530/blob/main/Assignment2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
import pandas
import sklearn

In [ ]:
df = pandas.read_csv("/content/drive/MyDrive/Colab Notebooks/Assignment 2/Assignment 2_1/Raw_Data/train.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [ ]:
df_cleaned = df.dropna(subset=['New_Price'])
display(df_cleaned)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

I dropped the NaN of the New_Price column due beacause of how few values there were in the column. With there only being 815 out of 5847, it wouldnt have been possible to fill each of the missing values.

In [ ]:
filtered_df = df_cleaned[(df_cleaned['Kilometers_Driven'] == 50000) & (df_cleaned['Fuel_Type'] == 'Electric')]
display(filtered_df)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
4313,4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.0,13.58 Lakh,13.0

In [ ]:
rows_with_nan = df_cleaned[df_cleaned.isnull().any(axis=1)]
display(rows_with_nan)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
4313,4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.0,13.58 Lakh,13.0

In [ ]:
df_cleaned = df_cleaned.drop(4313)
display(df_cleaned)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,Honda Jazz V,Chennai,2011,46000,Petrol,Automatic,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Automatic,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Automatic,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
18,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Automatic,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
5830,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Automatic,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
5833,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Automatic,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
5838,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Automatic,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
5842,Maruti Swift VDI,Delhi,2014,27365,Diesel,Automatic,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

Row 4313 was dropped since no other row would relate to it, which made it so I couldnt impute it.

In [ ]:
df_cleaned['Mileage'] = df_cleaned['Mileage'].str.replace(' kmpl', '')
df_cleaned['Mileage'] = df_cleaned['Mileage'].str.replace(' km/kg', '')
df_cleaned['Engine'] = df_cleaned['Engine'].str.replace(' CC', '')
df_cleaned['Power'] = df_cleaned['Power'].str.replace(' bhp', '')
df_cleaned['New_Price'] = df_cleaned['New_Price'].str.replace(' Lakh', '')
df_cleaned['New_Price'] = df_cleaned['New_Price'].str.replace(' Cr', '')
df_cleaned

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Diesel,Petrol,Automatic
1,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,8.61,4.50,False,True,True
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.5,8.0,21,17.50,True,False,True
8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,False,True,True
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5,2477,175.56,7.0,32.01,15.00,True,False,True
18,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190,5.0,47.87,18.55,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57,1193,88.7,5.0,7.77,4.00,False,True,True
5830,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09,1598,103.5,5.0,11.91,3.25,False,True,True
5833,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3,1248,88.5,5.0,9.93,7.43,True,False,True
5838,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5,1198,86.8,5.0,6.63,3.20,False,True,True
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.4,1248,74,5.0,7.88,4.75,True,False,True

In [ ]:
df_cleaned = pandas.get_dummies(df_cleaned, columns=['Fuel_Type', 'Transmission'], dtype=int)
display(df_cleaned)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,0,0,1,0,1
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,1,0,0,1,0
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,0,0,1,0,1
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,0,0,1,0,1
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,0,0,1,0,1
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,1,0,0,0,1
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,0,0,1,0,1
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,1,0,0,0,1

In [ ]:
df_cleaned['Car_Age'] = 2025 - df_cleaned['Year']
display(df_cleaned)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,0,0,1,0,1,14
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,1,0,0,1,0,9
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,0,0,1,0,1,7
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1,11
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,1,0,0,1,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,0,0,1,0,1,9
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,0,0,1,0,1,14
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,1,0,0,0,1,9
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,0,0,1,0,1,12
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,1,0,0,0,1,11

dplyr in Python:

1) Select:

In [ ]:
selected_df = df_cleaned[['Name', 'Year']]
display(selected_df)

                                   Name  Year
1                          Honda Jazz V  2011
5     Toyota Innova Crysta 2.8 GX AT 8S  2016
8                      Maruti Ciaz Zeta  2018
13          Mitsubishi Pajero Sport 4X4  2014
18                    BMW 3 Series 320d  2014
...                                 ...   ...
5827              Tata Bolt Revotron XT  2016
5830      Volkswagen Vento 1.6 Highline  2011
5833           Maruti Vitara Brezza VDi  2016
5838               Honda Brio 1.2 VX MT  2013
5842                   Maruti Swift VDI  2014

[815 rows x 2 columns]

2) Filter:

In [ ]:
selected_df = df_cleaned[(df_cleaned['Kilometers_Driven'] > 100000) & (df_cleaned['Price'] > 4) & (df_cleaned['Car_Age']  > 10)]
display(selected_df)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1,11
535,555,Maruti Ertiga ZDI,Pune,2013,105000,Second,25.47 kmpl,1248 CC,88.50 bhp,7.0,12.34 Lakh,6.75,1,0,0,0,1,12
553,573,Mahindra Bolero ZLX,Jaipur,2012,105000,Second,15.96 kmpl,2523 CC,62.1 bhp,7.0,11.15 Lakh,6.00,1,0,0,0,1,13
913,946,Mitsubishi Pajero Sport 4X4,Bangalore,2013,132000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,34.6 Lakh,12.49,1,0,0,0,1,12
996,1030,Toyota Fortuner 2.8 4WD MT,Kochi,2013,105072,First,14.24 kmpl,2755 CC,174.5 bhp,7.0,36.69 Lakh,13.28,1,0,0,0,1,12
2178,2242,Toyota Fortuner 2.8 4WD MT,Hyderabad,2010,110000,First,14.24 kmpl,2755 CC,174.5 bhp,7.0,37.51 Lakh,13.70,1,0,0,0,1,15
2211,2277,Toyota Fortuner 2.8 4WD MT,Mumbai,2010,140000,First,14.24 kmpl,2755 CC,174.5 bhp,7.0,37.46 Lakh,10.75,1,0,0,0,1,15
2777,2866,BMW 3 Series 320d,Coimbatore,2009,103905,First,22.69 kmpl,1995 CC,190 bhp,5.0,43.31 Lakh,9.92,1,0,0,1,0,16
3525,3640,Toyota Fortuner 2.8 4WD MT,Kochi,2011,169006,First,14.24 kmpl,2755 CC,174.5 bhp,7.0,36.69 Lakh,10.64,1,0,0,0,1,14
3667,3786,Maruti Swift VDI,Pune,2014,115000,First,28.4 kmpl,1248 CC,74 bhp,5.0,8.26 Lakh,4.50,1,0,0,0,1,11
5105,5254,Hyundai Elantra 1.6 SX,Pune,2013,170000,First,22.54 kmpl,1582 CC,126.2 bhp,5.0,20.87 Lakh,7.50,1,0,0,0,1,12

3) Rename:

In [ ]:
renamed_df = df_cleaned.rename(columns={'Name': 'Model_Name', 'Seats':'No. of Seats'})
display(renamed_df)

,Unnamed: 0,Model_Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,No. of Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,0,0,1,0,1,14
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,1,0,0,1,0,9
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,0,0,1,0,1,7
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1,11
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,1,0,0,1,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,0,0,1,0,1,9
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,0,0,1,0,1,14
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,1,0,0,0,1,9
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,0,0,1,0,1,12
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,1,0,0,0,1,11

4) Mutate

In [ ]:
df_2 = df_cleaned.copy()
df_2['Price_Per_Kilometer'] = df_2['Price']/df_2['Kilometers_Driven']
display(df_2)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age,Price_Per_Kilometer
1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,0,0,1,0,1,14,0.000098
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,1,0,0,1,0,9,0.000486
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,0,0,1,0,1,7,0.000387
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1,11,0.000136
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,1,0,0,1,0,11,0.000562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00,0,0,1,0,1,9,0.000400
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25,0,0,1,0,1,14,0.000086
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43,1,0,0,0,1,9,0.000200
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20,0,0,1,0,1,12,0.000095
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,1,0,0,0,1,11,0.000174

5) Arrange

In [ ]:
arranged_df = df_cleaned.sort_values(by='Year', ascending=True)
display(arranged_df)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
4723,4863,Hyundai Santro D Lite,Chennai,2001,140000,Third,20.3 kmpl,1086 CC,68 bhp,5.0,4.55 Lakh,0.70,0,0,1,0,1,24
5414,5569,Honda CR-V Petrol 2WD,Chennai,2004,135000,Third,14.4 kmpl,1997 CC,152 bhp,5.0,33.51 Lakh,3.00,0,0,1,1,0,21
337,351,Skoda Octavia RS,Jaipur,2005,100000,First,14.45 kmpl,1984 CC,227 bhp,5.0,28.37 Lakh,2.05,0,0,1,1,0,20
2058,2119,Ford Freestyle Titanium Petrol,Mumbai,2007,1261,First,19.0 kmpl,1194 CC,94.68 bhp,5.0,8.12 Lakh,6.00,0,0,1,0,1,18
251,261,Hyundai Verna CRDi 1.6 SX,Hyderabad,2008,143275,First,22.0 kmpl,1582 CC,126.2 bhp,5.0,14.07 Lakh,2.60,1,0,0,0,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,235,Toyota Innova Crysta 2.8 GX AT,Kochi,2019,14165,First,11.36 kmpl,2755 CC,171.5 bhp,7.0,20.74 Lakh,19.64,1,0,0,1,0,6
1322,1368,Hyundai Grand i10 1.2 Kappa Sportz,Kochi,2019,18453,First,18.9 kmpl,1197 CC,81.86 bhp,5.0,6.68 Lakh,6.17,0,0,1,0,1,6
1281,1324,Maruti Ignis 1.2 Delta,Coimbatore,2019,16862,First,20.89 kmpl,1197 CC,81.80 bhp,5.0,6.07 Lakh,6.06,0,0,1,0,1,6
65,67,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,First,0.0 kmpl,1950 CC,194 bhp,5.0,49.14 Lakh,35.67,1,0,0,1,0,6
165,173,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,First,18.9 kmpl,1197 CC,81.86 bhp,5.0,7.39 Lakh,6.50,0,0,1,0,1,6

6) Summarize with Group By:

In [ ]:
summarized_df = df_cleaned.groupby('Name')['Kilometers_Driven'].mean()
display(summarized_df)

Name
Audi A3 35 TDI Premium Plus           39000.000000
Audi A4 30 TFSI Premium Plus          61221.000000
Audi A4 35 TDI Premium Plus           33534.666667
Audi A4 35 TDI Technology             29500.000000
Audi A6 35 TDI Matrix                 43706.000000
                                          ...
Volkswagen Vento 1.5 TDI Trendline    47000.000000
Volkswagen Vento 1.6 Comfortline      33576.500000
Volkswagen Vento 1.6 Highline         42143.666667
Volvo S60 D4 Momentum                 51000.000000
Volvo V40 D3 R Design                 38000.000000
Name: Kilometers_Driven, Length: 318, dtype: float64